/* ==========================================================================
   ABOUT PAGE
   ========================================================================== */

@import "../main.scss";

.block-section{
  @include span(12);
  @include no-space;
}

// Disable the bottom border of the main nav on this page
#main-header{
  border-bottom:0 !important;
}

// HEADER
#about-us-header{
  background: rgb(26,237,149); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(26,237,149,1) 0%, rgba(213,83,239,1) 57%, rgba(255,0,127,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(26,237,149,1) 0%,rgba(213,83,239,1) 57%,rgba(255,0,127,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(26,237,149,1) 0%,rgba(213,83,239,1) 57%,rgba(255,0,127,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aed95', endColorstr='#ff007f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  vertical-align: middle;
  min-height:200px;
  position:relative;
  z-index:10;

  h1{
    position:relative;
    z-index:20;
    text-align:center;
  }
}

// INTRO
#about-us-intro{
  padding-top:em(100px);
  padding-bottom:em(200px);
}

#about-us-intro-container{
  @include span(10);
  @include push(1);
}

// WE AIM TO
#aim{
  margin-top:-10px;

  .data{
    font-size:1em;
  }
}

// THE TEAM
#the-team{
  background:$yellow-white;
  padding-top:em(100px);
  padding-bottom:em(200px);

  h1{
    text-align:center;
    margin-bottom:em(20px);
  }
}

#team-list{
  @include span(10);
  @include push(1);
  column-count:2; 

  li{
    text-align:center;
    font-size:1em;
    text-transform:none;
  }
}

// PRESS
#press-container{
  h1{
    text-align:center;
  }

  h2{
    margin-top:em(50px);
  }
}

#press-list, #join-our-team{
  @include span(10);
  @include push(1);

  li a{
    font-size:1.5em;
  }
}

#join-our-team{
  padding-bottom:em(200px);
}

#e-mail-us{
  font-size:1.5em;
}

/* 
   BREAKPOINTS
   ========================================================================== */
@include breakpoint($medium){
  // HEADER
  #about-us-header{
    min-height:600px;
  }

  #about-us-intro-container{
    @include span(4);
    @include push(4);
  }

  #team-list{
    @include span(8);
    @include push(2);
    column-count:3;
  }

  #press-list, #join-our-team{
    @include span(4);
    @include push(4);
  }
}

