/* ==========================================================================
   ARCHIVE EVENTS PAGE STYLES
   ========================================================================== */

@import "../main.scss";

.block-section{
  @include span(12);
  @include no-space;
}

// INTRO
#events-intro{
  padding-top:em(75px);
  padding-bottom:em(75px);
  text-align:center;
}

$eventColors: $teal, $darker-gray, $light-blue, $pink, $offwhite;

// LIST
.event{
  @include clearfix;
  padding-top:em(110px);
  padding-bottom:em(160px);

  &:first-child{
    background:$teal;
  }

  &:nth-child(5n+0){
    background:$darker-gray;
  }

  &:nth-child(5n+2){
    background:$light-blue;
  }

  &:nth-child(5n+3){
    background:$offwhite;
  }

  &:nth-child(5n+4){
    background:$pink;
  }

  &:nth-child(5n+5){
    background:$teal;
  }
}

.event-info{
  @include span(10);
  @include push(1);

  .data{
    @include no-space;
    font-size:0.8em;
  }

  h2{
    a{
      line-height:1.5em;
    }
  }
}

.event-description{
  margin-top:em(20px);
}

// EVENTS MESSAGE
#events-message{
  padding-top:em(60px);
  padding-bottom:em(110px);
  background:$light-gray;

  div{
    @include span(10);
    @include push(1);
  }
}

/* 
   BREAKPOINTS
   ========================================================================== */
@include breakpoint($medium){
  // INTRO
  #events-intro{
    padding-top:em(200px);
    padding-bottom:em(200px);
  }

  .event-info{
    @include span(5);
    @include push(5);
  }

  // EVENTS MESSAGE
  #events-message{
    div{
      @include span(5);
      @include push(5);
    }
  }
}

