/* ==========================================================================
   COLORS
   ========================================================================== */

// PRIMARY COLORS
$black: #000;
$dark-gray: #333;
$med-gray: #ccc;
$light-gray: #f9f9f9;
$offwhite: #eee;
$yellow-white: #F9F5E8;
$white: #fff;

// SECONDARY COLORS
$yellow: #ffd651;
$dark-yellow: #ffc404;
$red: #ff2606;
$purple: #7f51ff;

// EVENTS
$teal: #ccffdd;
$darker-gray: #ccffdd;
$light-blue: #99ddff;
$pink: #ff88dd;
