/* ==========================================================================
   FOOTER
   ========================================================================== */

#main-footer{
  background:$dark-gray;
  @include span(12);
  @include no-space;
  padding-top:em(100px);
  padding-bottom:em(100px);
  border-bottom:10px solid $dark-gray;

  form{
    background:none;
    padding:0 !important;
    margin:0 !important;
    @include span(12);
  }
}

#footer-info-section{
  @include span(10);
  @include push(1);
  color:#FFF;

  .info{
    margin-bottom:em(40px);
  }

  h6{
    font-size:0.9em;
    font-weight:700;
    margin-bottom:-15px;
  }

  a, h4{
    color:#FFF;
    font-size:em(30px);
    line-height:1.8em;
    font-weight:700;
  }

  #footer-hours{
    margin-bottom:-45px;
  }

  #footer-contact{
    margin-top:-25px;
  }

  #newsletter-info{
    @include span(12);
    @include no-space;

    h6{
      margin-bottom:1px;
    }
  }
}

/* ==========================================================================
   MAP (MOST STYLING HANDLED IN JS)
   ========================================================================== */

#map{
  @include span(34 of 36);
  @include push(1 of 36);
  height:35em;
  margin-bottom:em(30px);
}

/* ==========================================================================
   DIRECTIONS
   ========================================================================== */

#map-directions{
  @include span(12);
  background:$med-gray;
  padding-top:em(40px);
  padding-bottom:em(80px);

  dl{
    @include span(10);
    @include push(1);
    border-bottom:1px solid black;
    margin-bottom:em(20px);
    padding-bottom:em(30px);

    &.hidden-dl{
      display:none;
    }
  }

  dt{
    margin-bottom:em(20px);
  }

  strong{
    font-weight:700;
  }
}

.train-rect{
  width:15px;
  height:5px;
  display:inline-block;
  position:relative;
  top:-3px;
  margin-right:3px;

  &.blue{
    background:#00a1de;
  }

  &.red{
    background:#c60c30;
  }
}

@include breakpoint($medium){
  #map-directions{
    dl{
      @include span(2 of 10);
      @include push(0);
      border-bottom-width:0px;
      margin-bottom:0;
      padding-bottom:0;

      &.hidden-dl{
        display:block;
      }
    }
  }
}

/* 
   BREAKPOINTS
   ========================================================================== */

@include breakpoint($medium){

  #footer-info-section{
    @include span(4);
    @include push(3 of 24);
  }

  #newsletter-info{
    @include span(12);
  }
}

