
/* ==========================================================================
   GLOBALS
   ========================================================================== */

/*
   SUSY GRID BOWER IMPORT AND GRID DECLARATIONS
   ========================================================================== */
$susy: (
  columns: 12,
  gutters:1/4,
  math: fluid,
  output: float,
  gutter-position:inside,
);

$target1: 1px solid red;
$target2: 1px solid green;
$target3: 1px solid blue;

#body-container{
  @include container;
}