/* ==========================================================================
   HEADER
   ========================================================================== */

#main-header{
  @include span(10);
  @include push(1);
  padding-top:3em;
  position:relative;
  z-index:100;
}

#site-logo{
  @include span(6);

  img{
    width:100%;
  }
}

#main-nav{
  @include span(9);
  @include push(1);

  ul{
    clear:both;
  }

  li{
    float:right;
    margin-right:1.5em;

    &:first-child{
      margin-right:0;
    }

    a{
      font-size:1.2em;
      border-bottom-width:0;

      &:hover{
        border-bottom-width:3px;
      }
    }

    &.current-menu-item{
      a{
        border-bottom:3px solid $yellow;
      }
    }
  }
}

@include breakpoint($medium){
  #main-header{
    @include span(18 of 24);
    @include push(3 of 24);
    border-bottom:1px solid $med-gray;
    padding-top:3em;
  }

  #site-logo{
    @include span(2);
  }
}
